<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="page-footer blue-grey darken-2">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4 class="white-text">kotlin-spark-routes</h4>
				<p class="grey-text">A playground for experimenting with Kotlin, kotlin-spark, thymeleaf, kodein,
					materializecss, and other technologies.</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="row">
			<div class="col s12">
				<p>© LJD</p>
			</div>
		</div>
	</div>
</footer>

</html>