<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head-imports :: links(pageTitle=${title})}">

</div>
<body>


<nav>
	<div class="nav-wrapper teal blue-grey darken-2">
		<a href="#" class="brand-logo right hide-on-med-and-down">Logo</a>
		<ul id="nav-mobile" class="left hide-on-small">
			<li><a class="waves-effect btn waves-light modal-trigger" data-target="session">Session</a>
			<li><a href="/users/">Users</a></li>
			<li><a href="/validtest/">Validation Tests</a></li>
		</ul>
	</div>
</nav>


<div class="container">
	<div class="row">
		<div class="col s12"><h2>All Users</h2></div>
	</div>
	<div class="row">
		<ul class="collection col s12">
			<li th:each="u : ${users}" class="collection-item">
				<div>
					<span th:text="${u.prettyPrint()}" th:remove="tag"></span>
					<a class="secondary-content"
					   th:onclick="'openModal(\'ajax\/delete\/' + ${u.id} + '\',
					    \'#userToDelete\',
					    \'#confirmDeleteContainer\',
					    true
					   );'"><i
							class="material-icons">delete</i></a>
				</div>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col s12">
			<h3>Add User</h3>
		</div>
	</div>
	<form id="addUser" action="/users/add-submit" method="post">
		<div class="row">
			<div class="input-field col m6 s12">
				<label for="addUser-name">Name <span th:if="${errors != null}" th:text="${errors.get('name')}" class="red-text"></span></label>
				<input id="addUser-name" name="name" placeholder="Name" type="text" th:value="${name}"
				       required="required"
				>
			</div>
			<div class="input-field col m4 s8">
				<label for="addUser-age">Age <span th:if="${errors != null}" th:text="${errors.get('age')}" class="red-text"></span></label>
				<input id="addUser-age" name="age" placeholder="Age" class="input-field col s3" type="number"
				       th:value="${age}">
			</div>
			<div class="input-field col m2 s2">
				<button id="addUser-btn-add" type="submit" class="btn waves-effect waves-light teal darken-1">Add User
					<i class="material-icons right">add</i></button>
			</div>
		</div>

		<!--	<div th:if="${errors != null}" class="row">
				<div col="s12">
					<p>Errors found</p>
					<ul th:each="error : ${errors}">
						<li>Field: <span th:text="${error.key}"></span>, error is: <span th:text="${error.value}"></span>
						</li>
					</ul>
				</div>
			</div>-->
	</form>
</div>
<div class="section">
	<div class="row">
		<div class="col s12"><img src="/Costa_rican_frog.jpg" title="Costa rican frog" width="200px"
		                          class="z-depth-4"/></div>
	</div>
</div>

<!-- modals go here -->
<div id="session" class="modal">
	<div class="modal-content">
		<h4>Session information</h4>
		<p>Session id: <span th:text="${session.id}"/></p>
		<p>Session created: <span th:text="${session.creationTime}"/></p>
		<p>Session last accessed: <span th:text="${session.lastAccessedTime}"/></p>
		<p><strong>Alternatively...</strong></p>
		<p>Thymeleaf session: <span th:text="#{session}"/></p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

<div id="confirmDeleteContainer" class="modal">
	<div id="userToDelete">
	</div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

<script src="/js/init.js"></script>

</body>
</html>